{% extends "myapps/base.html" %}
    {% block title %} Project Details{% endblock %}
    

    {% block content %}
    <div class="card-header bg-primary text-white text-center">
        <h2> Project Details</h2>
    </div>
    <h5>Name: {{ object.name }}</h5>
    <p>Description: {{ object.description }}</p>
    <p>Apps: {{ object.apps.all|join:', ' }}</p>
    <p>Functions: {{ object.functions.all|join:', ' }}</p>
    <p>Templates: {{ object.templates.all|join:', ' }}</p>
    <p>User: {{ object.user }}</p>
    <p>Notes: {{ object.notes }}</p>
    <p>Pillar: {{ object.pillar }}</p>
    
{% endblock %}

